<h1>DEVOUR!!!</h1>

<ul>
    {{#each burger}}
    <li>
        <p>
            {{this.id}}. {{this.burger}}

            <button data-burgerid="{{this.id}}" class="delburger">Delete Burger!</button>
        </p>
    </li>
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="createBurger" class="button-size">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">Save Burger!</button>
</form>

<h2>Update a Burger</h2>
<form id="updateBurger" class="button-size">
    <select name="id">
        {{#each burger}}
        <option value="{{this.id}}">{{this.change}}</option>
        {{/each}}
    </select>
    <textarea type="text" name="burger" placeholder="burger"></textarea>
    <button type="submit">Update Burger!</button>
</form>